[submodule "chapter-zero"]
	path = chapter-zero
	url = https://github.com/fitzgen/wasm_game_of_life.git
	branch = chapter-zero
[submodule "chapter-one"]
	path = chapter-one
	url = https://github.com/fitzgen/wasm_game_of_life.git
	branch = chapter-one
[submodule "chapter-one-with-bug"]
	path = chapter-one-with-bug
	url = https://github.com/fitzgen/wasm_game_of_life.git
	branch = chapter-one-with-bug
[submodule "chapter-two"]
	path = chapter-two
	url = https://github.com/fitzgen/wasm_game_of_life.git
	branch = chapter-two
